.reveal section img.borderless { background:none; border:none; box-shadow:none; }
.reveal a img { background:none; border:none; box-shadow:none; }
.reveal table.stickers img { background:none; border:none; box-shadow:none; width:120px; height:auto; }
.reveal table.stickers td { background:none; border:none; box-shadow:none; }


section fieldset label {
    display: block;
    text-align: left;
}
section fieldset label progress {
    right: 0;
}
